body {
  background-color: black;
}
h2 {
  text-align: center;
  color: honeydew;
}
div {
  margin: auto;
  height: 200px;
  width: 200px;
}
button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: blanchedalmond;
}
